*{
    margin: 0;
    padding: 0;   
    border: 0;
    outline: 0;
}
* {
    box-sizing: border-box;
  }
.containerbg{
    width: 100%;
    height: 100vh;
    position: fixed;
    background: url(./imgs/backgroud.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    /* background-color: black; */
}
.container{
    position: absolute;
  left: 0;
  top: 0;
  right: 0;
}
.navication{
    background-color: rgb(0,0,0,0.5);
    position: fixed;
}
.nav{
    display: flex;
    color: white;
    list-style: none;
    padding-top: 20px;
    padding-bottom: 35px;
    font-size: 20px;
    font-weight: 900;
}
.nav-click a:hover{
    text-shadow: 0 0 10px #69e0ff, 0 0 20px #69e0ff, 0 0 40px #69e0ff;
}
.rl a:hover{
    text-shadow: 0 0 10px #69e0ff, 0 0 20px #69e0ff, 0 0 40px #69e0ff;
}
.nav a {
    color: white;
    text-decoration: none;
}
.rl a{
    text-decoration: none;
    color: white;
}

.iconhome svg:hover{
    filter: drop-shadow(0 0 0.75rem #69e0ff);
    /* box-shadow: 0 0 10px #69e0ff, 0 0 20px #69e0ff, 0 0 40px #69e0ff;
    background-color:#69e0ff ; */
} 
.rl {
    border: none;
    background: url(./imgs/btn_pretty.webp) no-repeat top left;
    color: #e4defe;
    font-weight: bold;
    font-size: 22px;
    height: 52px;
    width: 191px;
    margin: 3px 0 3px 0;
    background-size: contain;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-background-position: center;
    background-position: center;
    -webkit-background-size: contain;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}    


.main {
    height: 2100px;
    margin-bottom: 800px;
}
.caican{
    width: 87px;
    margin-left: 570px;
    margin-top: 85px;
}


.footer{
    background: rgb(27 25 60 / 58%);
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    /* margin-right: -6px;
    margin-left: -8px; */
}
.footername{
    text-shadow: 0 0 10px #69e0ff, 0 0 20px #69e0ff, 0 0 40px #69e0ff;
    color: white;
    font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
     font-size: 30px;
}
.footerthanhngnang1{
    content: "";
   width: 300px;
    height: 15px;
    background-image: url(./imgs/thangngang.png);
    background-repeat: no-repeat;
}
.footerthanhngnang2{
    content: "";
    width: 300px;
    height: 15px;
    background-image: url(./imgs/thangngang2.png);
    background-repeat: no-repeat;
}
.namefooter{
    display: flex; 
    flex-direction: column;
    margin-left: 500px;
}
.footerbody{
    display: flex;
}

.fixed{
    position: fixed;
    right: 10px;
    bottom: 140px;
    z-index: 999;
    list-style-type: none;
    cursor: pointer;
}
.mess{
    position: fixed;
    right: 25px;
    bottom: 25px;
    z-index: 999;
    list-style-type: none;
    cursor: pointer;
}
.bordermess{
    position: fixed;
    right: 25px;
    bottom: 25px;
    z-index: 999;
    list-style-type: none;
    cursor: pointer;
    background-color: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.product-panel , .product-panel-top{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card-pro{
    width: 300px;
}
.img-pro{
    width: 100%;
}


#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Màu đen với độ mờ 50% */
    z-index: 9998; /* Đặt z-index thấp hơn so với thông báo */
}

#message {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.5s ease-in-out;
    z-index: 9999;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

#timer {
    font-size: 48px;
    font-weight: bold;
    color: #333333;
    text-align: center;
    margin-bottom: 20px;
}

#closeButton {
    display: block;
    width: 80px;
    padding: 15px;
    text-align: center;
    background-color: #5852AD;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#closeButton:hover {
    background-color: gray;
}

.red {
    
    font-size: 25px;
}
.red A{
    color: red;
}
.navication{
    width: 100%;
}